//===========================================
// -Fonts start
//===========================================

@include font-face("family", $font-path, "Roboto-Regular", 400, "normal");
@include font-face("family", $font-path, "Inter-Regular", 400, "normal");

@include font-face("Notera", $font-path, "NoteraRegular", 400, "normal");
@include font-face("Notera", $font-path, "NoteraThin", 100, "normal");
@include font-face("Notera", $font-path, "NoteraRegular", 200, "normal");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@300&family=Source+Serif+Pro:wght@200&display=swap');

.font-main {
    font-family: $font-default;
}

.font-fancy {
    font-family: $font-fancy;
}

.font-handwritten {
    font-family: $font-handwritten;
}
//===========================================
// -Fonts  end
//===========================================
